.head{
    font-size: ;
    background: -webkit-linear-gradient(left,#bc327e,#eb5340);
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    padding: 7px;
    color: white;
    font-size: 10px;
}
.head h3{
    padding: 6px;
    margin-top: 33px;
    font-size: 13px;
}

.head p{
    margin-top: 15px;
    margin-bottom: 2px;
}

*{
    text-decoration: none;
}

body{
    background: #f6f6f6;
}

.wrapper{
    margin-top: 30px;
    /* border: solid green 20px;
    border-radius: 100px; */
}

.header{
    max-width: 350px;
    width: 100%;
    height: auto;
    margin: 10px auto;
    /* border: solid green 20px; */
}

.top,
.signup{
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    padding: 40px 40px 20px;
}

.logo img{
    display: block;
    margin: 0 auto 35px;
}

.input_field{
    margin-bottom: 5px;
    /* border: solid green 10px; */
}

.input{
    width: 100%;
    /* border: green 10px solid; */
    background: #fafafa;
    border: 1px solid #efefef;
    font-size: 12px;
    border-radius: 3px;
    color: #262626;
    padding: 10px;
}

.input:focus{
    border: 1px solid #b2b2b2;
}

.btn{
    margin: 10px 0;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
}

.btn a{
    color: #fff;
    display: block;
}

.or{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    margin: 15px 0 20px;
}

.line{
    width: 105px;
    height: 2px;
    background: #efefef;
}

.or p{
    color: #999;
    font-size: 12px;
}
